{% extends 'layouts/base.html' %}

{% block title %}FAQ{% endblock %}
{% block heading %}<h2>Frequently Asked Questions (FAQ)</h2>{% endblock %}

{% block body %}
  <p>
    This FAQ is for you to understand our site more:-
  </p>

  <hr/>

  <h3>How do I reload to my account?</h3>
  <p>
    Simply click on our pricing page and proceed to payment with desired amount.
  </p>
    
  <hr/>
  
  <h3>How can I contact you?</h3>
  <p>
    You may contact us via email.
  </p>
  
  <hr/>
  
  <h3>The page is not responding, what should I do?</h3>
  <p>
    Refresh your page and try. If nothing is working, clear cache on your browser and refresh the page.
  </p>
  
  <hr>
  <small class="text-muted note">Last updated 10 May 2020 with ❤️ by Kingsley Tan</small>
{% endblock %}
